<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-sample-tomcat7-jsp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="cs5200-geppetto-1.4.2.RELEASE.war">
      <element id="artifact" artifact-name="spring-boot-sample-tomcat7-jsp:war exploded" />
    </root>
  </artifact>
</component>